// Variables

// Font
$text-color: #404040 !default;

// Colors
$white: #fff !default;
$blue: #3372df !default;
$red: #cb4437 !default;
$orange: #eea236 !default;
$yellow: #f4b400 !default;
$green: #0f9d58 !default;

$light-gray: #eee;
$mid-gray: #777;
$dark-gray: #333 !default;