@charset "UTF-8";
/*
  Paper Collapse

  Pure CSS3 collapsible paper cards.

  Made with love by bbo - ©2014 Alexander Rühle
  MIT License http://opensource.org/licenses/MIT
*/
.paper-collapse .card {
  cursor: pointer;
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
  border-bottom: 1px solid #eeeeee;
  color: #777777;
}
.paper-collapse .card.active {
  -moz-box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.18824);
  -webkit-box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.18824);
  box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.18824);
  margin: 1rem -1rem;
  z-index: 200;
}
.paper-collapse .card.active:hover strong::after {
  content: "\f066";
}
.paper-collapse .card:hover strong::after {
  content: "\f065";
}
.paper-collapse .card strong::after {
  color: #404040;
  font-family: 'FontAwesome';
  padding-left: 2px;
  font-size: 1rem;
  line-height: 1.49rem;
}
